.anchor
.DS_Store
target
node_modules
test-ledger
.yarn
.surfpool
.env
**/*.rs.bk
*.json
!package.json
!tsconfig.json
!Anchor.toml
!Cargo.toml
!programs/**/Cargo.toml
!txtx.yml
*-keypair.json
yarn-error.log
npm-debug.log
